html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: 500;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: $p-vertical 31px;

  @include tablet-768 {
    padding: $p-vertical-tabs 24px;
  }
}
