.hero {
  height: calc(100vh - $p-vertical * 2);
  padding: 72px;
  display: flex;
  align-items: center;
  background-color: #ebf0fa;
  background-image: url(../img/background.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 49% auto;

  &__content {
    max-width: 511px;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 48px;
    color: $blue-text-color;
  }

  &__descr {
    margin-bottom: 36px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #727272;
  }

  &__btn {
    position: relative;
    padding: 19.5px 24px;
    padding-right: 76px;
    width: 341px;
    font-size: 18px;
    line-height: 29px;
    text-align: start;
    color: #ffffff;
    background-color: $firm-blue-color;
    border-radius: 60px;
    transition: background-color 0.3 ease;

    svg {
      position: absolute;
      top: 12px;
      right: 12px;
      fill: #ffffff;

      path {
        stroke: $blue-text-color;
        transition: stroke 0.3 ease;
      }
    }

    &:hover {
      background-color: lighten($firm-blue-color, 10%);

      svg path {
        stroke: lighten($firm-blue-color, 10%);
      }
    }

    &:active {
      background-color: $firm-blue-color;

      svg path {
        stroke: $blue-text-color;
      }
    }
  }
}
