.hero {
  height: calc(100vh - $p-vertical * 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebf0fa;

  @include tablet-910 {
    flex-direction: column;
    align-items: stretch;
  }

  @include tablet-768 {
    height: calc(100vh - $p-vertical-tabs * 2);
    min-height: 586px;
  }

  @include mob-520 {
    height: calc(100vh - $p-vertical-mob * 2);
    border-radius: 10px;
    min-height: 482px;
  }

  &__back {
    width: 49%;
    height: 100%;
    background-color: #ebf0fa;
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include desktop-1440 {
      width: 50%;
      background-image: url(../img/background-1440.jpg);
      background-size: 100% 100%;
    }

    @include tablet-910 {
      width: 100%;
      height: 61%;
      background-image: url(../img/background-768.jpg);
    }

    @include mob-520 {
      background-image: url(../img/background-mobile.jpg);
    }
  }

  &__content {
    padding: 72px;
    max-width: 655px;

    @include desktop-1250 {
      max-width: 411px;
    }

    @include desktop-1005 {
      padding: 24px;
    }

    @include tablet-910 {
      max-width: 100%;
    }

    @include mob-520 {
      padding-bottom: 18px;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 48px;
    color: $blue-text-color;

    @include desktop-1440 {
      font-size: 26px;
      line-height: 42px;
    }

    @include tablet-768 {
      font-size: 20px;
      line-height: 32px;
    }

    @include mob-520 {
      margin-bottom: 14px;
      font-size: 17px;
      line-height: 27px;
    }
  }

  &__descr {
    margin-bottom: 36px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #727272;

    @include tablet-910 {
      margin-bottom: 24px;
    }

    @include tablet-768 {
      font-size: 15px;
      line-height: 24px;
    }

    @include mob-520 {
      margin-bottom: 18px;
      font-size: 13px;
      line-height: 21px;
    }
  }

  &__btn {
    position: relative;
    padding: 19.5px 24px;
    padding-right: 76px;
    width: 341px;
    font-size: 18px;
    line-height: 29px;
    text-align: start;
    color: #ffffff;
    background-color: $firm-blue-color;
    border-radius: 60px;
    transition: background-color 0.3 ease;

    @include desktop-1250 {
      padding: 16px 18px;
      padding-right: 56px;
      width: 261px;
      font-size: 15px;
      line-height: 24px;
    }

    @include mob-520 {
      width: 100%;
    }

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      fill: #ffffff;

      @include desktop-1250 {
        right: 10px;
        width: 36px;
        height: 36px;
      }

      path {
        stroke: $blue-text-color;
        transition: stroke 0.3 ease;
      }
    }

    &:hover {
      background-color: lighten($firm-blue-color, 10%);

      svg path {
        stroke: lighten($firm-blue-color, 10%);
      }
    }

    &:active {
      background-color: $firm-blue-color;

      svg path {
        stroke: $blue-text-color;
      }
    }
  }
}
