@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 36px 40px;
}
@media (max-width: 769px) {
  .container {
    padding: 24px 24px;
  }
}
@media (max-width: 520px) {
  .container {
    padding: 14px 24px;
  }
}

.overlay {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.325);
}

.hero {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebf0fa;
}
@media (max-width: 910px) {
  .hero {
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 769px) {
  .hero {
    height: calc(100vh - 48px);
    min-height: 586px;
  }
}
@media (max-width: 520px) {
  .hero {
    height: calc(100vh - 28px);
    border-radius: 10px;
    min-height: 482px;
  }
}
.hero__back {
  width: 49%;
  height: 100%;
  background-color: #ebf0fa;
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (max-width: 1441px) {
  .hero__back {
    width: 50%;
    background-image: url(../img/background-1440.jpg);
    background-size: 100% 100%;
  }
}
@media (max-width: 910px) {
  .hero__back {
    width: 100%;
    height: 61%;
    background-image: url(../img/background-768.jpg);
  }
}
@media (max-width: 520px) {
  .hero__back {
    background-image: url(../img/background-mobile.jpg);
  }
}
.hero__content {
  padding: 72px;
  max-width: 655px;
}
@media (max-width: 1251px) {
  .hero__content {
    max-width: 411px;
  }
}
@media (max-width: 1005px) {
  .hero__content {
    padding: 24px;
  }
}
@media (max-width: 910px) {
  .hero__content {
    max-width: 100%;
  }
}
@media (max-width: 520px) {
  .hero__content {
    padding-bottom: 18px;
  }
}
.hero__title {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 48px;
  color: #1f4284;
}
@media (max-width: 1441px) {
  .hero__title {
    font-size: 26px;
    line-height: 42px;
  }
}
@media (max-width: 769px) {
  .hero__title {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 520px) {
  .hero__title {
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 27px;
  }
}
.hero__descr {
  margin-bottom: 36px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: #727272;
}
@media (max-width: 910px) {
  .hero__descr {
    margin-bottom: 24px;
  }
}
@media (max-width: 769px) {
  .hero__descr {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 520px) {
  .hero__descr {
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 21px;
  }
}
.hero__btn {
  position: relative;
  padding: 19.5px 24px;
  padding-right: 76px;
  width: 341px;
  font-size: 18px;
  line-height: 29px;
  text-align: start;
  color: #ffffff;
  background-color: #244c98;
  border-radius: 60px;
  transition: background-color 0.3 ease;
}
@media (max-width: 1251px) {
  .hero__btn {
    padding: 16px 18px;
    padding-right: 56px;
    width: 261px;
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 520px) {
  .hero__btn {
    width: 100%;
  }
}
.hero__btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  fill: #ffffff;
}
@media (max-width: 1251px) {
  .hero__btn svg {
    right: 10px;
    width: 36px;
    height: 36px;
  }
}
.hero__btn svg path {
  stroke: #1f4284;
  transition: stroke 0.3 ease;
}
.hero__btn:hover {
  background-color: #2e61c1;
}
.hero__btn:hover svg path {
  stroke: #2e61c1;
}
.hero__btn:active {
  background-color: #244c98;
}
.hero__btn:active svg path {
  stroke: #1f4284;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  min-height: 575px;
  background-color: rgba(0, 0, 0, 0.325);
}

.modal {
  display: none;
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 575px;
  padding: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f4fc;
}
@media (max-width: 500px) {
  .modal {
    width: 100%;
  }
}
@media (max-height: 575px) {
  .modal {
    top: 0;
    transform: translate(-50%, 0);
  }
}
.modal__container {
  position: relative;
  padding-top: 56px;
  height: 100%;
}
.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 52px;
  width: 52px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.modal__btn-close div {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal__btn-close div span {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: #000000;
}
.modal__btn-close div span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__btn-close div span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__btn-close:hover {
  background-color: #e6e6e6;
}
.modal .form__title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 33px;
  color: #323232;
}
.modal .form__inp {
  margin-bottom: 4px;
  padding: 24px;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  color: #323232;
  background-color: #d7e2f6;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.modal .form__inp::-moz-placeholder {
  font-size: 18px;
  color: #1f4284;
}
.modal .form__inp:-ms-input-placeholder {
  font-size: 18px;
  color: #1f4284;
}
.modal .form__inp::placeholder {
  font-size: 18px;
  color: #1f4284;
}
.modal .form__inp:hover {
  background-color: #c2d3f1;
}
.modal .form .form__inp + .form__inp {
  margin-bottom: 24px;
}
.modal .form__custom-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal .form__custom-check + label {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #323232;
  cursor: pointer;
  transition: color 0.3s ease;
}
.modal .form__custom-check + label:hover {
  color: #656565;
}
.modal .form__custom-check + label::before {
  content: "";
  margin-right: 17px;
  width: 18px;
  height: 18px;
  background-color: #f0f4fc;
  border: 2px solid #323232;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}
.modal .form__custom-check:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.modal .form__link {
  display: inline-block;
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 27px;
  color: #244c98;
  transition: color 0.3s ease;
}
.modal .form__link:hover {
  color: #152d5a;
}
.modal .form__btn {
  display: block;
  padding: 18px 12px;
  width: 100%;
  font-size: 18px;
  line-height: 29px;
  color: #244c98;
  border: 1px #244c98 solid;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.modal .form__btn:hover {
  color: #102346;
  border-color: #102346;
}
.modal .form .btn_fill {
  margin-bottom: 4px;
  color: #ffffff;
  background-color: #244c98;
  transition: background-color 0.3s ease;
}
.modal .form .btn_fill:hover {
  background-color: #396dd0;
  border-color: #244c98;
}